/* FeatureSection.css */
.feature-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 113px;
    padding-top: 113px;
    gap: 30px;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    width: 100%; /* Adjust width as needed */
    height: auto;
  }
  
  .text-container {
    flex: 1;
    padding-left: 120px;
    padding-right: 200px;
  }
  
  .header h4 {
    color: #888; /* Light grey for the feature subtitle */
    text-transform: uppercase;
  }
  
  .header h2 {
    font-size: 2.5rem;
    color: #000; /* Black for the feature title */
    margin: 10px 0;
  }
  
  .text-container p {
    font-size: 1rem;
    color: #333; /* Dark grey for the text */
    margin-bottom: 2rem;
    padding-right: 50px;
  }
  
  .text-container button {
    font-size: 1rem;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .text-container button:hover {
    background-color: #333; /* Dark grey for hover effect */
  }
